.container {
    
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50%;
    width: 35%;
    right: 40em;
    bottom: 21em; 
}
.container > div {
    
    background-color: grey;
    border-color: black;
    width: 22em;
    height: 22em;
    border-radius: 25px;
    
    
}
